{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
<article class="page">
    <header class="page-header">
        <div class="container">
            <h1>{{ .Title }}</h1>
            {{ with .Description }}<p class="lead">{{ . }}</p>{{ end }}
        </div>
    </header>

    <div class="container">
        {{ if eq .Section "work" }}
            {{ if (index site.Menus .Site.Language.Lang).work }}
            <nav class="section-nav">
                <ul>
                    {{ range (index site.Menus .Site.Language.Lang).work }}
                    <li><a href="{{ .URL }}" {{ if eq $.RelPermalink .URL }}class="active"{{ end }}>{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
            {{ end }}
        {{ end }}

        {{ if eq .Section "about" }}
            {{ if (index site.Menus .Site.Language.Lang).about }}
            <nav class="section-nav">
                <ul>
                    {{ range (index site.Menus .Site.Language.Lang).about }}
                    <li><a href="{{ .URL }}" {{ if eq $.RelPermalink .URL }}class="active"{{ end }}>{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
            {{ end }}
        {{ end }}

        <div class="page-content">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}