{{ define "main" }}
<div class="container mx-auto px-4 md:px-6 py-8">
  <!-- Header della pagina (sempre all'inizio) -->
  <header class="mb-12">
    <h1 class="text-3xl lg:text-4xl font-bold mb-2">{{ .Title }}</h1>
    {{ with .Content }}
      <div class="prose max-w-none mt-4">{{ . }}</div>
    {{ end }}
  </header>

  <!-- Lista delle Issue (ora con classe CSS) -->
  <div class="newsletter-list">
    {{ $pagesToList := where .Pages "Params.exclude_from_list" "ne" true }}
    {{ $pagesToList = where $pagesToList "Params.layout" "ne" "minimal" }}
    {{ $paginator := .Paginate $pagesToList.ByDate.Reverse }}
    {{ range $index, $page := $paginator.Pages }}
      {{/* Richiamo il partial per ogni pagina */}}
      {{ partial "newsletter/list-item.html" $page }}

      {{/* Aggiungo HR tranne che dopo l'ultimo elemento */}}
      {{ if lt (add $index 1) $paginator.NumberOfElements }}
        <hr class="newsletter-list-divider">
      {{ end }}
    {{ end }}

    <!-- Pagination -->
    <div class="mt-8">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>
{{ end }}