{{ define "main" }}
  <div class="content-wrapper">
    <article>
      <section>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </section>
      <ul class="posts-list">
        {{ $filteredPages := where .Paginator.Pages "Params.layout" "ne" "minimal" }}
        {{ range $filteredPages }}
          <li>
            <span class="post-date">{{ .Date.Format "2006/01" }}</span>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
      {{ template "_internal/pagination.html" . }}
    </article>
  </div>
{{ end }}
