{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
  <article class="content-wrapper">
    <header>
      <h1>{{ .Title }}</h1>
      <div class="meta-post">
        {{ with .Params.author | default .Site.Params.author }}
          {{ . | markdownify }}
          &nbsp &mdash; &nbsp;
        {{ end }}
        {{ if not .Date.IsZero }}
          {{ i18n "published" }} 
          <time class="faint">{{- .Date.Format "2006/01/02" -}}</time>
        {{end}}
        {{ if and (not .Lastmod.IsZero) (ne .Lastmod .Date) }}
          &nbsp &mdash; {{ i18n "updated"}}
          <time class="faint">{{- .Lastmod.Format "2006/01/02" -}}</time>
        {{end}}
        &nbsp &mdash; {{ .ReadingTime }} {{ if eq .ReadingTime 1 }}{{ i18n "minute" }}{{ else }}{{ i18n "minutes" }}{{ end }}
      </div>
    </header>

    {{ with .Params.featured_image }}
    <div class="image-container featured-image-container">
      <img src="/{{ . }}" alt="{{ $.Title }}">
    </div>
    {{ end }}

    <div class="content">
      {{ .Content }}
    </div>

    {{ if .Params.tags }}
    <div class="post-tags">
      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag-link">
          {{ partial "translate-tag" (dict "tag" . "context" $) }}
        </a>
      {{ end }}
    </div>
    {{ end }}

    {{ $related := .Site.RegularPages.Related . | first 4 }}
    {{ with $related }}
    <div class="related-posts">
      <h2>{{ i18n "related" }}</h2>
      <div class="related-grid">
        {{ range . }}
        <div class="related-card">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <p class="excerpt">{{ .Plain | truncate 150 }}</p>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}

    <div id="comments-section" data-bsky-uri="{{ .Params.bsky }}"></div>

    {{ $comments := resources.Get "js/comments.js" | minify | fingerprint }}
    <script src="{{ $comments.RelPermalink }}"></script>

  </article>
{{ end }}