{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
  <div class="content-wrapper">
    <article>
      <header class="mb4">
        <h1 class="f1">
          {{- .Title -}}
        </h1>
        {{ with .Params.author | default .Site.Params.author }}
        <a class="meta-post">
          {{- if reflect.IsSlice . -}}
              {{ delimit . ", " | markdownify }}
          {{- else -}}
              {{ . | markdownify }}
          {{- end -}}
          &nbsp &mdash; &nbsp;
        {{ end }}
        {{ if not .Date.IsZero }}
        <time class="faint" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
          {{- .Date.Format "2006/01/02" -}}
        </time>
        {{end}}
        {{ if and (not .Lastmod.IsZero) (ne .Lastmod .Date) }}
        &mdash; {{ i18n "updated"}}
        <time class="faint" {{ printf `datetime="%s"` (.Lastmod.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
          {{- .Lastmod.Format "2006/01/02" -}}
        </time>
        {{end}}
        &nbsp &mdash; {{ .ReadingTime }} {{ if eq .ReadingTime 1 }}{{ i18n "minute" }}{{ else }}{{ i18n "minutes" }}{{ end }}</a>
      </header>
      <div>
        {{- .Content -}}
        {{- partial "tags.html" . -}}
        <div class="mt6 instapaper_ignoref">
          {{ if .Site.Config.Services.Disqus.Shortname }}
            {{ template "_internal/disqus.html" . }}
          {{ end }}
          {{ if .Site.Params.commentoEnable }}
            {{- partial "commento.html" . -}}
          {{ end }}
        </div>
      </div>
      <aside class="w-30-l mt6-l">
        {{- partial "menu-contextual.html" . -}}
      </aside>
    </article>
  </div>
{{ end }}