<article class="newsletter-list-item">
    <!-- Issue Number (Cliccabile) e Divisore Verticale -->
    <div class="nl-item__number">
      {{ with .Params.issue_number }}
        <a href="{{ $.RelPermalink }}" class="nl-item__number-link">
          <span>#{{ . }}</span>
        </a>
      {{ end }}
    </div>

    <!-- Blocco Contenuto (Title, Description, Date) -->
    <div class="nl-item__content">
      <!-- Titolo (Cliccabile) -->
      <h2 class="nl-item__title">
         <a href="{{ .RelPermalink }}" class="nl-item__title-link">{{ .Title }}</a>
      </h2>
      <!-- Descrizione -->
      {{ with .Params.description }}
      <p class="nl-item__description">
        {{ . }}
      </p>
      {{ end }}
      <!-- Data -->
      <time class="nl-item__date" datetime="{{ .Date.Format "2006-01-02" }}">
        {{/* Soluzione manuale per la localizzazione della data */}}
        {{ $month := .Date.Month }}
        {{ $monthString := "" }}
        {{ if eq $.Site.Language.Lang "it" }}
          {{ if eq $month 1 }}{{ $monthString = "Gennaio" }}
          {{ else if eq $month 2 }}{{ $monthString = "Febbraio" }}
          {{ else if eq $month 3 }}{{ $monthString = "Marzo" }}
          {{ else if eq $month 4 }}{{ $monthString = "Aprile" }}
          {{ else if eq $month 5 }}{{ $monthString = "Maggio" }}
          {{ else if eq $month 6 }}{{ $monthString = "Giugno" }}
          {{ else if eq $month 7 }}{{ $monthString = "Luglio" }}
          {{ else if eq $month 8 }}{{ $monthString = "Agosto" }}
          {{ else if eq $month 9 }}{{ $monthString = "Settembre" }}
          {{ else if eq $month 10 }}{{ $monthString = "Ottobre" }}
          {{ else if eq $month 11 }}{{ $monthString = "Novembre" }}
          {{ else if eq $month 12 }}{{ $monthString = "Dicembre" }}
          {{ end }}
        {{ else }}
          {{ $monthString = .Date.Format "January" }}
        {{ end }}
        {{ .Date.Day }} {{ $monthString }} {{ .Date.Year }}
      </time>
    </div>

    <!-- Freccia (Cliccabile) -->
    <div class="nl-item__arrow">
      <a href="{{ .RelPermalink }}" aria-label="{{ i18n "read_issue" }} {{ .Title }}" class="nl-item__arrow-link">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
      </a>
    </div>
</article> 