<ul class="language-list flex items-center m0 p0 list-none">
    <!-- Lingua corrente -->
    <li class="language-item mr2">
      <span class="current-lang">
        <i class="fi fi-{{ if eq .Language.Lang "en" }}gb{{ else }}{{ .Language.Lang }}{{ end }}"></i>
        <span class="lang-name">{{ if eq .Language.Lang "en" }}EN{{ else }}{{ upper .Language.Lang }}{{ end }}</span>
      </span>
    </li>
    <!-- Altre lingue -->
    {{ range .Translations }}
    <li class="language-item mr2">
      <a href="{{ .RelPermalink }}" class="lang-link" title="{{ .Language.LanguageName }}">
        <i class="fi fi-{{ if eq .Language.Lang "en" }}gb{{ else }}{{ .Language.Lang }}{{ end }}"></i>
        <span class="lang-code">{{ if eq .Language.Lang "en" }}EN{{ else }}{{ upper .Language.Lang }}{{ end }}</span>
      </a>
    </li>
    {{ end }}
  </ul>