<ul class="language-list flex m0 p0">
    <!-- Lingua corrente -->
    <li class="language-item mr2">
      <span>
        <i class="fi fi-{{ if eq .Language.Lang "en" }}gb{{ else }}{{ .Language.Lang }}{{ end }}"></i>
        <span>{{ if eq .Language.Lang "en" }}EN{{ else }}{{ upper .Language.Lang }}{{ end }}</span>
      </span>
    </li>
    <!-- Altre lingue -->
    {{ range .Translations }}
    <li class="mr2">
      <a class="i18n-link" href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}">
        <i class="fi fi-{{ if eq .Language.Lang "en" }}gb{{ else }}{{ .Language.Lang }}{{ end }}"></i>
        <span class="lang-link">{{ if eq .Language.Lang "en" }}EN{{ else }}{{ upper .Language.Lang }}{{ end }}</span>
      </a>
    </li>
    {{ end }}
  </ul>