<!-- Intera sezione nav come un flex -->
<nav class="content-wrapper" role="navigation bar">
  
  <!-- Sezione di navigazione separata da selettore lingua e tema-->
  <div class="nav-links flex-shrink flex-grow" role="logo and links section">
    <!-- Sezione del logo e breadcrumb allineata a sinistra-->
    <div class="nav-logoBreadcrumb" role="logo and breadcrumb">

      <!-- Logo -->
      <a class="nav-logo" href="/{{ .Site.Language.Lang }}/">Matteo Cervelli</a>
        
      <!-- Breadcrumb -->
      {{- if .Section -}}
      
      <a class="nav-breadcrumb">/</a> 
      <a href="{{ .Section | relLangURL }}" class="nav-breadcrumb">
        {{- if eq .Section "posts" -}}
          {{ i18n "menuPosts" }}
        {{- else if eq .Section "tags" -}}
          {{ i18n "tags" }}
        {{- else if eq .Section "projects" -}}
          {{ i18n "Projects" }}
        {{- else -}}
          {{ .Section | humanize }}
        {{- end -}}
      </a>
      
      {{- end -}}
    </div>

    <!-- Menu principale -->
    <div class="nav-menu flex-shrink" role="menu">
      {{- if .Site.Menus.main -}}
      <div class="flex flex-wrap">
        {{- range .Site.Menus.main -}}
            <a href="{{ .URL }}" class="nav-menu-items">{{ .Name }}</a>
          {{- end -}}
      </div>
      {{- end -}}
    </div>
  </div>

  </div>
</nav>